body{
    background: #000;
    background-image: url(../img/jon-tyson-tangfe8KQdw-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100px 400px;
      background-size: 100% 400%;
}


h1{
    color: white;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    position:relative;
    left:50px;
    right:50px;
    font-size: 35px;

}


img{
    width: 300px;
    height: 300px;
    border-radius: 160px;
    border:5px solid white;
}